<div class="row w-100 d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="row w-75 mt-5" style="height: 30rem;">
        <div class="col-md-6 shadow d-flex align-items-center justify-content-center flex-column p-5">
            <div class="d-flex p-3 align-items-center justify-content-center"
            style="width: 5rem; height: 5rem; border: 0.3rem solid red; border-radius: 50%;">
                <i class="fa-solid  fa-user fa-2x text-danger"></i>
            </div>
            <h2 class="text-center text-danger d-flex">Welcome User</h2>
            <form class="border rounded p-3 w-100 shadow mt-3" [formGroup]="registerForm"
            (ngSubmit)="registerUser()">
                <div class="mb-3">
                    <input type="text" placeholder="Enter User Name" class="form-control"
                    formControlName="username" name="username"
                    />
                    <span class="error-message" *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched">Invalid username</span>
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" placeholder="Enter Email" class="form-control "
                    formControlName="email" name="email"/>
                    <span class="error-message" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">Invalid email</span>
                </div>
                <div class="mb-4">
                    <input type="password" placeholder="Enter password" class="form-control"
                    formControlName="password" name="password"/>
                    <span class="error-message" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">Invalid password</span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-danger w-100" type="submit" [disabled]="registerForm.invalid">SIGN UP</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 shadow p-0 d-flex justify-content-center align-items-center flex-column text-light"
        style="background-image: url('https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg') ; background-size: cover;">

           <div class="d-flex justify-content-center align-items-center flex-column ">
            <h4><i class="fa-brands fa-slack fa-spin ms-2 me-3"></i>GLOBAL MART</h4>
            <h6>Already have an account? </h6>
            <p class="p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas similique tempora magnam asperiores, consequatur perferendis accusantium dolorem, est nemo magni sit excepturi ad molestiae cum consequuntur aliquam mollitia incidunt deleniti.</p>
            <a class="btn btn-outline-light" routerLink="/user/login">Log In</a>
           </div> 
        </div>
    </div>
</div>
