<div class="d-flex justify-content-center align-items-center flex-column mt-5">
    <input type="text" class="form-control w-25 mb-3" placeholder="user name" (change)="getUserName($event)"/> 
    <input type="text" class="form-control w-25 mb-3" placeholder="email" (keyup)="getEmail($event)"/>
    <input type="text" #location class="form-control w-25 mb-3" placeholder="location"/>
    <button class="btn btn-primary mb-3" (click)="getLocation(location)">Send location</button>
    <h3 class="text-warning">Employee Name : Todd</h3>
</div>

